.counter{
    display: flex;
    flex-direction: row;
    font-size: 3em;
}
.counterBtn{
    margin: 0px 10px;
    height: 3em;
    width: 3em;
    border-radius: 10%;
    background: indianred;
    cursor: pointer;
}
.add{
    background: lightgreen;
}
.text{
    font-size: 1.5em;
    color: darkgoldenrod;
}